############################################
# JUPYTER NOTEBOOK
############################################
.ipynb_checkpoints/

############################################
# PYTHON
############################################
__pycache__/
*.pyc
*.pyo
*.pyd

############################################
# DADOS CIENTÍFICOS (NÃO VERSIONAR)
############################################
data/*
!data/

dados/
input/
output/
results/

*.csv
*.dat
*.txt
*.fits
*.fit
*.h5
*.hdf5
*.npy
*.npz

# EXCEÇÃO: dataset versionado
!data/rho_sol_dm.txt


############################################
# AMBIENTE E SEGURANÇA
############################################
.env
.env.*
*.key
*.pem

############################################
# SISTEMA / EDITORES
############################################
.DS_Store
Thumbs.db
.vscode/
.idea/

############################################
# LOGS
############################################
*.log
