############################################
# JUPYTER NOTEBOOK
############################################
.ipynb_checkpoints/

############################################
# PYTHON
############################################
__pycache__/
*.pyc
*.pyo
*.pyd

############################################
# DADOS CIENTÍFICOS (NÃO VERSIONAR)
############################################
data/
dados/
input/
output/
results/

*.csv
*.dat
*.txt
*.fits
*.fit
*.h5
*.hdf5
*.npy
*.npz

############################################
# AMBIENTE E SEGURANÇA
############################################
.env
.env.*
*.key
*.pem

############################################
# SISTEMA / EDITORES
############################################
.DS_Store
Thumbs.db
.vscode/
.idea/

############################################
# LOGS
############################################
*.log
